<% article ||= @article
remote_bool = true
%>
<section class="article_partial resource_partial" id="article_<%= article.id %>">
	<!-- Controls for privileged users -->
	<%= render 'common_partials/editing_header' if can_edit_article?(article)||can_destroy_article?(article)||can_publish_article?(article) %>
	<div class="hide tooltip_content">
		<a class="close">&times;</a>
		<%= render 'articles/article_controls', article:article, remote_bool: true %>
	</div>
	
	<%= render 'articles/article_header', article:article, page_name: false %>
	<div class="article-summary">
		<%= render 'fragments/fragment', fragment: article.cover_fragment unless article.pages.count==0||article.cover_fragment.nil?%>
	</div>
	<footer>
		<%= link_to article_path(article), class:'read_more_link' do %>
			<%= image_tag '/images/application/page_icons/page_miniature_thumb.png' %> Read more...
		<% end %>
	</footer>
</section>
