<%
	article ||= @article
	page ||= @page||article.pages.order('number ASC').first
	page_name = true if page_name.nil?
	small_title ||= false
%>
<header class="article_header">
  <p><strong><%= article.user.name %></strong>, <%= time_tag article.publication_date unless article.publication_date.nil?||article.publication_date.blank? %></p>
	<h1><%= article.title %></h1>
	<h2><%= page.chapter+"- " unless page.chapter.nil? %><em>Pag. <%= page.number  %></em></h2>
</header>
