<div class="page_name_editing_controls">
	<h2 class="page_name"><%= !@page.name.blank? ? @page.name : "(Unnamed Page #{@page.number})" %></h2>
	<%= link_to '#', class:'btn btn-small hide page_name_edit_button' do %>
		<i class="icon icon-edit"></i>
	<%end%>
	<%= text_field_tag "pages[#{@page.id}][name]", @page.name, placeholder:"(Unnamed Page #{@page.number})", class:'page_name_edit_field' %>
</div>
<div class="page_fragments_controls">
	<div class="btn-group">
        <%= link_to new_page_fragment_relationship_path(page_id:@page.id), remote:true, class:'btn btn-success' do %>
			<i class="icon icon-white icon-plus"></i> Fragment
		<% end %>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
            	<%= link_to 'From PuzzleBox', new_page_fragment_relationship_path(page_id:@page.id,from_box:true), remote:true %>
            </li>
        </ul>
    </div>
	<%= link_to page_path(@page), remote:true, method: :delete, :data => { :confirm => 'ADD TO YOUR PUZZLE BOX ALL THE FRAGMENTS YOU WANT TO KEEP BEFORE DELETING THIS PAGE. Continue?' }, class:'btn btn-danger' do %>
		<i class="icon icon-white icon-trash"></i> Delete page
	<% end %>
</div>
<div class="page_styling_controls">
	  <div class="control-group">
	    <label class="control-label">Background</label>
	    <div class="controls">
	      <%= text_field_tag "pages[#{@page.id}][background_color]", @page.background_color, class:'span1', id:"page_background_color_edit_field" %>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label">Foreground</label>
	    <div class="controls">
	      <%= text_field_tag "pages[#{@page.id}][foreground_color]", @page.foreground_color, class:'span1', id:"page_foreground_color_edit_field" %>
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label">Decorations</label>
	    <div class="controls">
	      <%= text_field_tag "pages[#{@page.id}][third_color]", @page.third_color, class:'span1', id:"page_third_color_edit_field" %>
	    </div>
	  </div>
	<%= link_to 'Apply', edit_page_path(@page), remote:true, class:'btn btn-small page_styles_apply_button' %>
</div>