<div class="page_name_editing_controls">
	<h2 class="page_name"><%= !@page.name.blank? ? @page.name : "(#{@page.chapter || 'Unchaptered Page'})" %></h2>
	<%= link_to '#', class:'btn btn-small hide page_name_edit_button' do %>
		<i class="icon icon-edit"></i>
	<%end%>
	<%= text_field_tag "pages[#{@page.id}][name]", @page.name, placeholder:"( #{@page.chapter || "New Chapter"})", class:'page_name_edit_field' %>
</div>
<div class="page_fragments_controls">
	<ul>
        <li>
	        <%= link_to new_page_fragment_relationship_path(page_id:@page.id), remote:true, class:'btn btn-success' do %>
				<i class="icon icon-white icon-plus"></i> Fragment
			<% end %>
		</li>
        <li>
        	<%= link_to new_page_fragment_relationship_path(page_id:@page.id,from_box:true,add_to_article:true), remote:true, class:"btn btn-primary" do %>
        		 <i class="icon-white icon-folder-open"></i> From Box
        	<% end %>
        </li>
    </ul>
	<%= link_to page_path(@page), remote:true, method: :delete, :data => { :confirm => 'ADD TO YOUR PUZZLE BOX ALL THE FRAGMENTS YOU WANT TO KEEP BEFORE DELETING THIS PAGE. Continue?' }, class:'btn btn-danger' do %>
		<i class="icon icon-white icon-trash"></i> Delete page
	<% end %>
</div>
<div class="page_styling_controls">
	  <div class="control-group">
	    <label class="control-label">Theme</label>
	    <div class="controls">
	      <%= link_to 'Choose Theme',  choose_theme_path(@page), class: 'btn btn-primary btn-small', remote: true %>
	    </div>
	  </div>
</div>
