<% provide :title, "Edit #{@article.title}" %>
<div class="container article_edit_container">
	<div class="row">
		<div class="span3">
			<aside class="left_article_controls">
				<div class="controls_container" data-spy="affix" data-offset-top="0">
					<div class="article_buttons">
						<% if can_publish_article?(@article) %>
							<% if !@article.public? %>
								<%= link_to '#', class:'btn btn-success btn-large' do %>
									<i class="icon icon-white icon-globe"></i> Publish
								<% end %>	
							<% else %>
								<%= link_to '#', class:'btn btn-warning btn-large' do %>
									<i class="icon icon-white icon-eye-close"></i> Unpublish
								<% end %>
							<% end %>
						<% end %>
						<%= link_to '#', class:'btn btn-info btn-large article_save_button', "data-loading-text" => "Saving..." do %>
								<i class="icon icon-white icon-ok"></i> Save
						<% end %>
					</div>
					<div class="page_controls well" data-current-page-id=<%= @page.id %>>
						<%= render 'articles/page_controls' %>
					</div>
				</div>
			</aside>
		</div>
		<div class="span6">
			<div class="row">
				<div class="span6">
					<div class="article_title_editing_controls">
						<h1 class="article_title"><%= @article.title %></h1>
						<%= link_to '#', class:'btn btn-small hide article_title_edit_button' do %>
							<i class="icon icon-edit"></i>
						<%end%>
						<%= text_field_tag "article[#{@article.id}][title]", @article.title, placeholder:'Article title here', class:'title_edit_field' %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<div class="article_edit_fragments_container">
						<%= render @fragments, edit:true, popover_controls: true, article_fragment_edit_controls: true %>
					</div>
				</div>
			</div>
		</div>
		<div class="span3">
			<aside class="article_right_controls">
				<div class="controls_container" data-spy="affix" data-offset-top="0">
					<div class="article_buttons">
						<%= render 'articles/preview_button' %>
					</div>
					<div class="well pages_list_container">
						<%= render 'articles/pages_list' %>
					</div>
				</div>
			</aside>
		</div>
	</div>
	<!------------------------------------------Form per il salvataggio -->
	<%= form_for @article, remote:true do |submitted_form| %>
		<!-------------------Hidden fields for fragments -->
		<div class="fragments_hidden_fields">
			<%= render 'articles/fragments_hidden_fields' %>
		</div>
		<!-------------------Hidden fields for page and article -->
		<div class="article_hidden_fields">
			<%= submitted_form.hidden_field :title, value: @article.title, class:"article_title_hidden_field" %>
		</div>
		<div class="page_hidden_fields">
			<%= render 'articles/page_hidden_fields' %>
		</div>
	<% end %>
</div>
