<% provide :title, full_title("Your Articles") %>
<div class="row">
	<div class="offset3 span6">
		<h1>Your articles...</h1>
	</div>
</div>
<div class="row">
	<div class="offset3 span6">
		<div class="centered_content"><%= will_paginate @articles %></div>
			<%= render @articles %>
		<div class="centered_content"><%= will_paginate @articles %></div>
	</div>
</div>
<% # TODO bisogna spostare la visualizzazione congiunta delle risorse via dall'index degli articoli 
%>

<div class="row">
	<div class="offset3 span6">
		<h1>...And your lonely fragments</h1>
	</div>
</div>
<div class="row">
	<div class="offset3 span6">
		<div class="centered_content"><%= will_paginate @fragments %></div>
			<%= render @fragments %>
		<div class="centered_content"><%= will_paginate @fragments %></div>
	</div>
</div>