<% provide :title, "#{@article.title} | #{@page.number}" %>
<div class="container container-fluid article_view_container">
	<div class="row">
		<div class="span2">
			<aside class="left_article_controls">
				<div class="controls_container span2 hidden-phone" data-spy="affix" data-offset-top="0">
					<%= render 'chapters_outline_menu' if @article.chapters_outline.any? %>
				</div>
			</aside>
		</div>
		<div class="span8 article_content_container hanging_container">
			<div class="row">
				<div class="span8">
					<%= render 'articles/article_controls' %>
					<%= render 'articles/article_header'%>
				</div>
			</div>
			<article class="article_view_fragments_container row">
				<%= render 'articles/fragments_with_contextual', fragments: @fragments %>
			</article>
		</div>
		<div class="row">
		  <div class="span3 offset5">
			<ul>
				 <li class="previous_page_link_container"><%= render 'articles/previous_page_link'%></li>
				 <li class="next_page_link_container"><%= render 'articles/next_page_link'%></li>
			</ul>
		  </div>
		</div>
	</div>
</div>
