<%
	assign_theme_button ||= false
        page                ||= @page
%>
<div class="theme_container">
	<p>
	  <%= theme.name %>
	</p>
	
	<img src="<%= theme.previewImageAddress %>" />

</div>
<% if not assign_theme_button %>
   <%= link_to 'Edit', edit_theme_path(theme) %> |
   <%= link_to 'Back', themes_path %>
<% else %>
   <%= link_to 'Assign', assign_theme_to_page_path(:id => page.id, :theme_id => theme.id), remote: true,  class:"btn btn-success btn-small" %>
<% end %>
