<% user ||= @user
remote_bool = true
%>
<div class="row resource_partial user_partial" id="user_<%= user.id %>">
	<!-- Controls for privileged users -->
	<%= render 'common_partials/editing_header' if can_edit_user?(user)||can_edit_user_priviledges?(user)||can_destroy_user?(user) %>
	<div class="hide tooltip_content">
		<a class="close">&times;</a>
		<%= render 'users/user_controls', user:user, remote_bool: true%>
	</div>
	<!-- User's informations to be displayed -->
	<div class="span2">
		<%= image_tag user.avatar.url(:thumb), class: 'thumb' %>
	</div>
	<div class="span4">
		<div class="row">
			<div class="span2"><h3><%= link_to user.name, user_path(user) %></h3></div>
			<div class="user-works span2">
				<span class="label label-info"><%= pluralize(user.articles.count, "article") %></span>
				<span class="label"><%= pluralize(user.fragments.count, "fragment") %></span>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="span4 user-bio">
				<p>
					<%= user.bio %>
				</p>
			</div>
		</div>
	</div>
</div>
<%= render 'users/priviledges_modal', user: user%>
