<%
	controls=true if controls.nil?
%>
<ul class="nav nav-tabs nav-stacked" id="box_bags_sidebar_nav">
	<li<%= " class='active'" if @current_bag_id.nil? %>><%= link_to 'All', box_path(id:nil,resource_type:@resource_type,add_to_article:@add_to_article, page_id:@page_id), remote: true, id:"bag__link", class:"select_bag_link" %></li>
	<% current_user.bags.each do |bag| %>
		<li<%= " class='active'" if !@current_bag_id.nil? and bag.id == @current_bag_id.to_i %>>
			<%= link_to bag.name, bag_path(id:bag,resource_type:@resource_type,add_to_article:@add_to_article, page_id:@page_id), remote: true, id: "bag_#{bag.id}_link", class:"select_bag_link"%>
		</li>
	<% end %>
</ul>
<%= link_to new_bag_path, remote: true, class:"btn btn-small", id:"new_bag_button" do %>
	<i class="icon-black icon-plus"></i>
<% end if controls %>