<% provide :title, "Puzzle Box" %>
<div class="container-fluid puzzle_box_container" id="puzzle_box_fragments_container">
		<div class="span2 nav" data-spy="affix" id="box_bags_sidebar_nav_container">
			<%= render 'bags/box_bags_sidebar_nav' %>
		</div>
		<div class="span10 offset2">
			<div class="row resource_box_controls" data-spy="affix" id="box_items_controls">
				<div class="span10">
				
					<div class="box_controls_bar_section">
						<%= link_to new_fragment_image_path(add_to_box:true), remote:true, class:"btn btn-mini btn-success" do %>
							<i class="icon icon-white icon-upload"></i> Upload Images
						<% end %>	
					</div>
					
					<ul id="box_resources_related_controls" class="box_controls_bar_section">
							<li>
								<%= link_to "Remove", "#", class:"btn btn-small", id:'box_resources_remove_button', confirm:'Are you sure you want to remove this image from your box? It will still be visible in the fragments where you used it.' %>
							</li>
							<li>
								<%= link_to "Move", 'user_box_image_relationships/edit_multiple', class:"btn btn-small", id:'box_resources_move_button', remote: true %>
							</li>
					</ul>
				
					<%= render 'bags/bag_related_controls' %>
					
				</div>
			</div>
			<div class="row">
				<div class="span10" id="box_resources_list_container">
					<%= render 'bags/box_resources' %>
				</div>
			</div>
		</div>
</div>
