<div class="well">
	<%= form_for @fragment_image, remote:true do |form| %>
		<%= image_tag @fragment_image.getImageUrl(:medium), alt:@fragment_image.description, class:"fragment_image_edit_form_preview" %>
		<fieldset class="form-inline">
			<%= form.label :description, 'Description:' %>
			<%= form.text_field :description %>
		</fieldset>
		<fieldset class="form-inline">
			Crop (%):
			<%= text_field_tag :x, nil, placeholder:"x", class:"media_fragment_form" %>
			<%= text_field_tag :y, nil, placeholder:"y", class:"media_fragment_form" %>
			<%= text_field_tag :w, nil, placeholder:"w", class:"media_fragment_form" %>
			<%= text_field_tag :h, nil, placeholder:"h", class:"media_fragment_form" %>
			<%= link_to "#", class:"btn btn-small", id:"apply_image_media_fragment_button" do %>
				<i class="icon-black icon-resize-small"></i>
			<% end %>
			<%= link_to "#", class:"btn btn-small", id:"remove_image_media_fragment_button" do %>
				<i class="icon-black icon-remove"></i>
			<% end %>
			<%= form.hidden_field :media_fragment %>
		</fieldset>
		
		<div class="form-actions">
			<%= form.submit class:'btn btn-primary' %>
		</div>
		<%= link_to new_user_box_image_relationship_path(id:@fragment_image.id), remote: true, class:"btn btn-primary add_to_box_button" do %>
			<i class="icon-white icon-plus"></i>Add to box
		<% end unless @fragment_image.user_box_image_relationships.find_by_user_id(current_user.id) %>
	<% end %>
</div>