<div class="well">
	<%= form_for @fragment_image, remote:true do |form| %>
		<%= image_tag @fragment_image.getImageUrl(:thumb), alt:@fragment_image.description %>
		<fieldset>
			<%= form.label :description, 'Description:' %>
			<%= form.text_field :description %>
		</fieldset>
		
		<div class="form-actions">
			<%= form.submit class:'btn btn-primary' %>
		</div>
		<%= link_to new_user_box_image_relationship_path(id:@fragment_image.id), remote: true, class:"btn btn-primary add_to_box_button" do %>
			<i class="icon-white icon-plus"></i>Add to box
		<% end unless @fragment_image.user_box_image_relationships.find_by_user_id(current_user.id) %>
	<% end %>
</div>