<% # TODO da modificare perchè sia un sommario, con popover sempre attivi
fragment ||= @fragment
edit ||= false
popover_controls ||= false
article_fragment_edit_controls ||= false
%>
<div id="fragment_<%=fragment.id %>" class="fragment_container">
	<% if not edit %>
	
		<%= render 'fragments/fragment_view', fragment: fragment %>
	
	<% else %>
		
		<%= render 'fragments/fragment_edit', fragment: fragment %>
	
	<% end %>
	
	<%= render 'fragments/popover_controls', fragment: fragment, popover_controls: popover_controls %>
	
	<!--Controlli utilizzati nell'editing articolo -->
	<% if article_fragment_edit_controls 
		relationship = fragment.page_fragment_relationships.find_by_page_id(@page.id)
	%>
		<div class="article_fragment_edit_controls" id="article_fragment_<%= fragment.id %>_edit_controls">
			<ul>
				<li>
					<%= link_to page_fragment_relationship_path(id:relationship.id,move:'up'), remote:true, method: :put, class:'btn btn-small' do%>
						<i class="icon icon-arrow-up"></i>
					<%end%>
				</li>
				<li>
					<%= link_to page_fragment_relationship_path(id:relationship.id,move:'down'), remote:true, method: :put, class:'btn btn-small' do%>
						<i class="icon icon-arrow-down"></i>
					<%end%>
				</li>
				<li>
					<%= link_to move_fragment_to_page_path(), remote:true, title:"Move to another page", class:'btn btn-small' do%>
						<i class="icon icon-share-alt"></i>
					<%end%>
				</li>
				<li>
					<%= link_to page_fragment_relationship_path(relationship), remote:true, method: :delete, class:'btn btn-small btn-warning' do%>
						<i class="icon icon-remove"></i>
					<%end%>
				</li>
			</ul>
		</div>
	<% end %>
	
</div>