<%
fragment ||= @fragment
edit ||= false
popover_controls ||= false
article_fragment_edit_controls ||= false
streamlined_fragment ||= false
fragment_header ||= false
aside ||= false
@aside = aside
%>
<div id="fragment_<%=fragment.id %>" class="fragment_container resource_partial <%= streamlined_fragment ? 'streamlined_fragment' : '' %>">
	<%= render 'common_partials/editing_header' if popover_controls&&(can_edit_fragment?(fragment)||can_destroy_fragment?(fragment)) %>
	<div class="hide tooltip_content">
		<a class='close'>&times;</a>
		<%= render 'fragments/fragment_controls', remote_bool: true, fragment:fragment %>
	</div>
	
	<%= render 'fragments/fragment_header', fragment: fragment if fragment_header %>
	
	<% if not edit %>
	
		<%= render 'fragments/fragment_view', fragment: fragment %>
	
	<% else #add here non-creator user case handling 
	%>
		
		<%= render 'fragments/fragment_edit', fragment: fragment %>
	
	<% end %>
	
	<!--Controls used in article editing -->
	<% if article_fragment_edit_controls 
		relationship = fragment.page_fragment_relationships.find_by_page_id(@page.id)
	%>
		<div class="article_fragment_edit_controls" id="article_fragment_<%= fragment.id %>_edit_controls">
			<ul>
				<li>
					<%= link_to page_fragment_relationship_path(id:relationship.id,move:'up'), remote:true, method: :put, class:'btn btn-small' do%>
						<i class="icon icon-arrow-up"></i>
					<%end%>
				</li>
				<li>
					<%= link_to page_fragment_relationship_path(id:relationship.id,move:'down'), remote:true, method: :put, class:'btn btn-small' do%>
						<i class="icon icon-arrow-down"></i>
					<%end%>
				</li>
				<li>
					<div class="btn-group">
                    <a class="btn btn-small dropdown-toggle move_to_page_button" rel="tooltip" title="Move fragment to another page" data-toggle="dropdown" href="#"><i class="icon icon-share-alt"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                        	<% @page.article.pages.each do |p| %>
		                        <%= link_to move_fragment_to_page_path(page_id:p.id,relationship_id:relationship.id), remote:true, title:"Move to page #{p.number}" do%>
									<%= p.name.blank? ? "(Unnamed Page #{p.number})".html_safe : p.name %>
								<%end unless p==@page%>
							<% end %>
						</li>
                    </ul>
                </div>
					
				</li>
				<li>
					<%= link_to page_fragment_relationship_path(relationship), remote:true, method: :delete, class:'btn btn-small btn-warning detach_fragment_button', rel:'tooltip', title:'Detach fragment from article. This will permanently delete fragments you didn\'t add to your PuzzleBox.' do%>
						<i class="icon icon-remove"></i>
					<%end%>
				</li>
			</ul>
		</div>
	<% end %>
	
</div>