<% fragment ||= @fragment 
%>
<ul class="controls fragment-controls expanded-centered">
	<% if !fragment.public&&can_publish_fragment?(fragment) %>
		<li>
			<%= form_for fragment, remote:remote_bool do |form| %>
				<%= button_tag name:'publish_submit', class:'btn btn-small btn-success' do %>
					<i class='icon-check icon-white'></i> Publish
				<% end %>
			<% end %>
		</li>
	<% elsif fragment.public&&can_publish_fragment?(fragment) %>
		<!-- ><li>
			<%= form_for fragment, remote:remote_bool do |form| %>
				<%= button_tag "Republish", name:"publish_submit", class:'btn btn-small btn-info' do %>
					<i class='icon-repeat icon-white'></i> Republish
				<% end %>
			<% end %>
		</li> -->
		<li>
			<%= form_for fragment, remote:remote_bool do |form| %>
				<%= form.hidden_field :public, value:false %>
				<%= button_tag 'Unpublish', name:"unpublish_submit", class:'btn btn-small btn-warning' do %>
					<i class='icon-eye-close icon-white'></i> Unpublish
				<% end %>
			<% end %>
		</li>
	<% end %>
	
	<%if can_edit_fragment?(fragment) %>
		<li>
			<%= link_to new_user_box_fragment_relationship_path(id:fragment.id), class:'btn btn-small btn-primary', remote: true do %>
				<i class='icon-plus icon-white'></i> PuzzleBox
			<% end unless current_user.box_fragments.where("resource_id=?",fragment.id).any?%>
		</li>
	<% end %>
	
	<%if can_edit_fragment?(fragment)%>
		<li>
			<%= link_to edit_fragment_path(fragment), class:'btn btn-small btn-info hidden_on_article_editing' do %>
				<i class='icon-edit icon-white'></i> Edit
			<% end %>
		</li>
	<%end%>
	
	<%if can_destroy_fragment?(fragment)%>
		<li>
			<%= link_to fragment_path(fragment), remote:remote_bool, method: :delete, data: {confirm: "This fragment will also be removed from the articles it appears in. Are you sure you want to delete it??"}, class:'btn btn-small btn-danger hidden_on_article_editing' do %>
				<i class="icon-trash icon-white"></i> Delete
			<% end %>
		</li>
	<%end%>
</ul>