<%
add_to_article ||= false
%>
<li>
	<div class="row fragment_summary" id="fragment_<%= fragment.id %>">
		<% if not add_to_article %>
			<div class="span2">
				<img src="<%= getFragmentTypeIcon(fragment.fragment_type) %>" title="<%= fragment.fragment_type.name %>" class="fragment_type_image hidden-phone">
				<img src="<%= getFragmentTypeIconThumb(fragment.fragment_type) %>" title="<%= fragment.fragment_type.name %>" class="fragment_type_image visible-phone">
			</div>
		<% end %>
		<div class="span4">
			<div class="row">
				<div class="span4">
					<% if add_to_article %>
						<img src="<%= getFragmentTypeIconThumb(fragment.fragment_type) %>" title="<%= fragment.fragment_type.name %>" class="fragment_type_image">
					<% end %>
						<h4><%= link_to fragment.name, fragment_path(fragment) %></h4>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<table class="table table-striped table-bordered table-hover">
					  <tbody>
					  	<% fragment.getSummaryHash.each do |k,v| %>
						  	<tr>
						      <td class="table-key"><p><%= k %>:</p></td>
						      <td class="table-value"><p><%= v %></p></td>
						    </tr>
					  	<% end %>
					  	<% if fragment.fragment_type.has_images? %>
					  		<tr>
					  			<td colspan="2">
					  				<% fragment.images.each do |image| %>
					  					<%= image_tag image.fragment_resource_file.url(:mini) %>
					  				<% end %>
					  			</td>
					  		</tr>
					  	<% end %>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<% if add_to_article %>	
			<div class="span1">
				<%= link_to page_fragment_relationships_path(page_id:@page.id, fragment_id:fragment.id), method: :post, remote:true, class:'btn btn-success add_fragment_button' do %>
					<i class="icon icon-white icon-arrow-right"></i>
				<% end %>
			</div>
		<% else %>
			<%= render 'fragments/popover_controls', fragment: fragment, popover_controls: true %>
		<% end %>
	</div>
</li>