<% fragment ||= @fragment
popover_controls ||= false
#Share URL definition
if @page.nil?
	share_url = "http://"+base_url+"/fragments/"+fragment.id.to_s
else
	share_url = "http://"+base_url+"/articles/"+@article.id.to_s+"/"+@page.number.to_s+"#fragment_"+fragment.id.to_s+"_view"
end
%>
<div class="fragment_type_<%= fragment.fragment_type.id %> fragment_view" id="fragment_<%= fragment.id %>_view" name="fragment_<%= fragment.id %>_view">
	<%= raw(fragment.fragment_type.view_elements) %>
	<noscript>
		<%= render 'fragments/fragment_summary', fragment: fragment %>
	</noscript>
</div>
<% if @aside %>
	<div class="fragment_aside">
		<%= render 'fragments/also_appears_in', fragment: fragment %>
	</div>
<% else %>
	<div class="fragment_interactions_container">
		<div class="fragment_interactions" id="fragment_<%= fragment.id %>_interactions">
			<div class="fb-like" data-href="<%= share_url %>" data-width="90" data-colorscheme="dark" data-action="recommend" data-show-faces="false" data-layout="button_count" data-send="false"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Check this out:" data-url="<%= share_url %>">Tweet</a>
		</div>
	</div>
<% end %>
