<%
@add_to_article ||= false # If the summary is shown in the dialog for adding fragments to an article from puzzlebox
@multiple_selection ||= false
%>
<li>
	<div class="row fragment_summary resource_partial" id="fragment_<%= fragment.id %>">
		<% if not @add_to_article %>
			<%= render 'common_partials/editing_header' if can_edit_fragment?(fragment)||can_destroy_fragment?(fragment) %>
			<div class="hide tooltip_content">
				<a class='close'>&times;</a>
				<%= render 'fragments/fragment_controls', remote_bool: true, fragment:fragment %>
			</div>
			<%= check_box_tag "user_box_resource_relationships[fragments][]", current_user.user_box_fragment_relationships.find_by_resource_id(fragment.id).id, false, class:"multiple_selection_checkbox" if @multiple_selection==true
			%>
		<% end %>
		<div>
			<header>
					<div>
						<img src="<%= getFragmentTypeIconThumb(fragment.fragment_type) %>" title="<%= fragment.fragment_type.name %>" class="fragment_type_image">
					</div>
					<strong><%= fragment.fragment_type.name %></strong> <em>by <%= fragment.user.name %></em>
						<%= link_to fragment_path(fragment) do %>
							<i class="icon icon-eye-open icon-black"></i>
						<% end %>
			</header>
		  	<ul class="summary_hash_container">
			  	<% fragment.getSummaryHash.each do |k,v| %>
				  	
				   <li><strong><%= k %>:</strong>
				   <%= v %></li>
				    
			  	<% end %>
		  	</ul>
		  	<% if fragment.fragment_type.has_images? %>
		  		<ul class="fragment_summary_images">
		  				<% 	n = 0;
		  					fragment.images.each do |image|
		  					n+=1;
		  					break if n>6
		  					%>
		  					<li><%= image_tag image.getImageUrl(:mini) %></li>
		  				<% end %>
		  		</ul>
		  	<% end %>
		</div>
		<% if @add_to_article %>	
			<div>
				<%= link_to page_fragment_relationships_path(page_id:@page_id, fragment_id:fragment.id), method: :post, remote:true, class:'btn btn-success add_fragment_button' do %>
					<i class="icon icon-white icon-arrow-right"></i>
				<% end %>
			</div>
		<% end %>
	</div>
</li>