<% if is_blog_initialized? %> <% #menù vuoto se blog non inizializzato 
	%>
<header class="navbar navbar-fixed-top">
	<nav class="navbar-inner">
        <div class="container">
        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </a>
        	<%= link_to 'PuzzLog', root_path, class: 'brand' %>
        	<div class="nav-collapse">
				<ul class="nav">
					<li>
						<%= link_to 'Staff', users_path %>
					</li>
					<li class="divider-vertical"></li>
				  <% if not signed_in? %>
				  <li><a data-toggle="modal" href="#modalLogin" ><i class="icon-user icon-white"></i></a></li>
				  
				<% else signed_in? %>
					<% if can_create_fragments? %> <!-- allora mostro creazione frammenti e puzzle box -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<b class="caret"></b>
								<i class="icon icon-white icon-folder-open"></i> Puzzle Box
							</a>
							<ul class="dropdown-menu"> 
								<li><%= link_to fragments_path  do%><i class="icon icon-th-large"></i> Fragments<%end%></li>
								<li><%= link_to fragment_images_path do%><i class="icon icon-picture"></i> Images<%end%></li>
								<li><%= link_to '#' do%><i class="icon icon-music"></i> Sounds<%end%></li>
								<li><%= link_to '#' do%><i class="icon icon-film"></i> Videos<%end%></li>
								<li><%= link_to '#' do%><i class="icon icon-file"></i> Attachments<%end%></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<b class="caret"></b>
								<i class="icon icon-white icon-comment"></i> New Fragment
							</a>
							<ul class="dropdown-menu"> 
								<%
									# TODO qui ci andrà una query per avere i tipi di frammento più usati
									# TODO usare le iconcine dei tipi di frammento quando saranno pronte
								%>
								<% FragmentType.all.each do |type|%>
								<li>
									<%= link_to new_fragment_path(fragment_type_id:type.id) do %>
										<img src="<%= getFragmentTypeIconThumb(type) %>" title="<%= type.name %>"> <%= type.name %>
										<li class="divider"></li>
									<% end %>
								</li>
								<% end %>
								<li><a href="#">More...</a></li>
							</ul>
						</li>
					<% end %>
					<li class="dropdown">
					    <a href="#"
					          class="dropdown-toggle"
					          data-toggle="dropdown">
					          <b class="caret"></b>
					          <i class="icon-cog icon-white"></i> Manage
					    </a>
					    <ul class="dropdown-menu">
					      <% if can_create_articles?
					      %>
						      <li class="nav-header">
						      	Articles
						      </li>
						      <li>
						      	<% # TODO perchè funzioni correttamente questo deve essere un link remoto al controller che risponde col javascript che renderizza e apre la finestra! 
						      	%>
						      	<%= link_to 'Create', new_article_path, remote: true %>
						      </li>
						      <li>
						      	<%= link_to 'Manage', articles_path %>
						      </li>
						      <li class="divider"></li>
					      <% end %>
					      <% if can_create_users? %>
						      <li class="nav-header">
						      	Users
						      </li>
						      <li>
						      	<%= link_to 'Create', new_user_path %>
						      </li>
						      <li>
						      	<%= link_to 'Manage', users_path %>
						      </li>
						      <li class="divider"></class>
					      <% end %>
					      <% if can_modify_blog? %>
								<li>
						      		<a href="#">Blog Preferences</a>
						      	</li>
						  <% end %>
					      <li>
					      	<%= link_to 'Profile', user_path(current_user) %>
					      </li>
					      <li>
					      	<%= link_to 'Signout', signout_path, method: "delete" %>
					      </li>
					    </ul>
					 </li>
				<% end %>
				</ul>
			</div>
        </div>
      </nav>
</header>
<% end %>




