<% if is_blog_initialized? %> <% #menù vuoto se blog non inizializzato 
	%>
<header class="navbar navbar-fixed-top">
	<nav class="navbar-inner">
        <div class="container">
        	<%= link_to 'PuzzLog', root_path, class: 'brand hidden-phone' %>
        	<div class="pull-right">
				<ul class="nav">
					<li>
						<%= link_to 'PuzzLog', root_path, class: 'visible-phone' %>
					</li>
				  <% if not signed_in? %>
				  <li><a data-toggle="modal" href="#modalLogin" ><i class="icon-user"></i></a></li>
				  
				<% elsif signed_in? %>
					<% if can_create_fragments? and !@article_editing and !@fragment_type_editor_menu and !@user_profile %> <!-- allora mostro creazione frammenti e puzzle box -->
						<li class="navbar-text hidden-phone">Create a fragment:</li>
						<% FragmentType.most_used.limit(5).each do |type|
						%>
							<li class="hidden-phone">
								<%= link_to new_fragment_path(fragment_type_id:type.id), title:type.name, class:"create_fragment_button hidden-phone" do %>
									<img src="<%= getFragmentTypeIconThumb(type) %>" title="<%= type.name %>">
								<% end %>
							</li>
						<% end %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown">
								<b class="caret"></b> More
							</a>
							<a href="#" class="dropdown-toggle visible-phone" data-toggle="dropdown">
								<b class="caret"></b> Create
							</a>
							<ul class="dropdown-menu">
								<% FragmentType.most_used.limit(5).each do |type|
								%>
									<li class="visible-phone">
										<%= link_to new_fragment_path(fragment_type_id:type.id), title:type.name, class:"create_fragment_button" do %>
											<img src="<%= getFragmentTypeIconThumb(type) %>" title="<%= type.name %>">
										<% end %>
									</li>
								<% end %>
								<li><%= link_to 'Complete list', fragment_types_path(), remote:true %></li>
								<% if can_create_fragment_types? %>
								<li><%= link_to 'New type', new_fragment_type_path %></li>
								<% end %>
							</ul>
						</li>
						<li class="divider-vertical hidden-phone"></li>
						<li class="hidden-phone">
						      <%= link_to new_article_path, remote: true do %>
						      	<i class="icon-file"></i>New Article
						      <% end %>
						</li>
						<li class="divider-vertical hidden-phone"></li>
					<% end %>
					<% if @fragment_type_editor_menu then %>
						<li class="hidden-phone">
						      <%= link_to 'Sample', '#sample_bookmark' %>
						</li>
						<li class="hidden-phone">
						      <%= link_to 'Scripts', '#script_bookmark' %>
						</li>
						<li class="hidden-phone">
						      <%= link_to 'Markup and CSS', '#html_bookmark' %>
						</li>
						<li class="hidden-phone">
						      <%= link_to 'Libs and Data', '#libraries_bookmark' %>
						</li>
						<li class="hidden-phone">
						      <%= link_to 'Metadata', '#metadata_bookmark' %>
						</li>
					<% end %>
					<% if not @fragment_type_editor_menu and not @user_profile and not @article_editing%><li class="hidden-phone"><a href="/box"><i class="icon icon-folder-open"></i> Box</a></li><% end %>
					<% if @user_profile %>
					<%= render 'users/user_custom_menu' %>
					<% end %>
					<li class="divider-vertical"></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          				<%=current_user.name%>
	          				<b class="caret"></b>
	    				</a>
						<ul class="dropdown-menu">
							<% if can_create_articles?
					      %>
						      <li class="nav-header">
						      	Articles
						      </li>
						      <li>
						      	<%= link_to 'Manage', articles_path %>
						      </li>
						      <li class="divider"></li>
					      <% end %>
					      <% if can_create_users? %>
						      <li class="nav-header">
						      	Users
						      </li>
						      <li>
						      	<%= link_to 'Create', new_user_path %>
						      </li>
						      <li>
						      	<%= link_to 'Manage', users_path %>
						      </li>
						      <li class="divider"></class>
					      <% end %>
					      <li>
					      	<%= link_to 'Blog Settings', menu_entries_path() %>
					      </li>
					      <% if can_edit_themes? %>
						  <li>
							<%= link_to 'Manage Themes', themes_path() %>
						  </li>					      
					      <% end %>
					      <% if can_edit_libraries? %>
					          <li>
						    <%= link_to 'Manage Libraries', libraries_path() %>
						  </li>
					      <% end %>
					      <li>
					      	<%= link_to 'Profile', user_path(current_user) %>
					      </li>
					      <li>
					      	<%= link_to 'Signout', signout_path, method: "delete" %>
					      </li>
						</ul>
					</li>
					<li>
						<%= image_tag current_user.avatar.url(:thumb), class:"hidden-phone"%>
					</li>
				<% end %>
				</ul>
			</div>
        </div>
      </nav>
</header>
<% end %>




