<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    '/stylesheets/ace-rails.css' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/puzzle_resources' %>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	
<%= render 'layouts/header' %>
<div class="row">
	<div id="flash_messages_container" class="offset3 span6">
		<%= render 'layouts/flash_messages' %>
	</div>
</div>

<div class="main_container">
	<%= yield %>
</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/common_elements'%>

</body>
</html>
